// This page contains Sass profile styles

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
    padding: 3rem;
    background-color: $colorBox;
    @include borderStyle;

    &__img {
        width: 250px;
        height: auto;
        border: 0.3rem solid $colorFont;
        border-radius: 100%;
    }

    &__update-pic-btn {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 2.2rem;

        input[type='file']::file-selector-button {
            padding: 1rem;
            background-color: $colorSecondary;
            @include borderStyle;
            @include btnTxtStyle;

            &:hover {
                background-color: $colorSecondary;
            }
        }
    }

    &__update-btn {
        background-color: $colorSecondary;
        padding: 0.5rem 1rem;
        margin-right: 0.25rem;
        @include btnTxtStyle;
        @include borderStyle;
        scale: 1;

        &:hover {
            scale: 1.05;
            transition: scale 200ms ease-in;
        }
    }

    &__deactivate-btn {
        padding: 0.5rem 1rem;
        margin-left: 0.25rem;
        @include borderStyle;
        @include btnTxtStyle;
        scale: 1;

        &:hover {
            scale: 1.05;
            transition: scale 200ms ease-in;
        }
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 1rem 0;

        label {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 1.3rem;
        }

        input {
            padding: 0.7rem;
            @include borderStyle;
            margin-top: 0.1rem;
            width: 100%;
            height: 2rem;
            font-size: 1.1rem;
        }
    }
}
