// This page contains Sass settings styles

// Mobile styles
.settings {
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: $colorBackgroundLight;
        border-bottom: 0.2rem solid $colorFont;
        font-weight: 700;

        &--icon {
            padding: 0.5rem;
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;
        }

        &--list {
            list-style-type: none;

            &-item {
                margin: 0.5rem 0 0.5rem 0;
                padding: 0.5rem;
                display: inline-block;
                margin: 1rem 0.5rem 1rem 0;
                width: fit-content;
                background-color: $colorSecondary;
                @include borderStyle;
                @include btnTxtStyle;
                scale: 1;

                &:hover {
                    scale: 1.1;
                    transition: scale 200ms ease-in;
                }
            }
        }
    }
}

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .settings {
        width: 800px;
        border-right: 0.2rem solid $colorFont;
        border-left: 0.2rem solid $colorFont;

        &__nav {
            background-color: $colorBackground;
        }
    }
}
