// This page contains Sass status styles

.status {
    &__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0 3rem 3rem 3rem;
        background-color: $colorBackground;
        border-bottom: 0.2rem solid $colorFont;

        &--img {
            top: 3rem;
            position: relative;
            width: 120px;
            height: auto;
            border: 0.25rem solid $colorFont;
            border-radius: 100%;
            z-index: 1;
            margin: 0 auto;
            display: block;
        }

        &--btns {
            gap: 1rem;

            input[type='file']::file-selector-button {
                position: relative;
                align-self: center;
                margin-top: 20rem;
                padding: 1rem;
                background-color: $colorBox;
                @include borderStyle;
                @include btnTxtStyle;

                &:hover {
                    background-color: $colorSecondary;
                }
            }

            &-postBtn {
                position: relative;
                padding: 1rem;
                margin: 1.5rem 0 0 1.5rem;
                background-color: $colorSecondary;
                width: 5rem;
                @include borderStyle;
                @include btnTxtStyle;
                scale: 1;

                &:hover {
                    scale: 1.1;
                    transition: scale 200ms ease-in;
                }
            }
        }

        &--post {
            position: absolute;
            left: 0;
            right: 0;
            padding: 8rem 3rem 5rem 3rem;
            border-top: 3px solid $colorFont;
            border-bottom: 3px solid $colorFont;
            font-family: 'Nunito', sans-serif;
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
}

// Tablet and PC styling
@media screen and (min-width: 768px) {
    .status {
        &__cont {
            display: flex;
            background-color: $colorBackgroundLight;
            border-right: 0.2rem solid $colorFont;
            border-bottom: 0.2rem solid $colorFont;
            border-left: 0.2rem solid $colorFont;
            width: 800px;

            &--img {
                width: 130px;
                // top: 5rem;
                // left: 20.5rem;
            }

            &--btns {
                text-align: center;

                input[type='file']::file-selector-button {
                    background-color: $colorBackground;
                    margin-top: 3rem;
                }

                &-postBtn {
                    background-color: $colorSecondary;
                    width: 5rem;
                }
            }

            &--post {
                position: relative;
                padding: 4rem 3rem 5rem 3rem;
                border-right: 0.2rem solid $colorFont;
                border-left: 0.2rem solid $colorFont;
                width: 800px;
            }
        }
    }
}
