// This page contains site-wide Sass styles
body {
    color: $colorFont;
}

.portal-profile__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// PC and Tablet styling
@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colorBox;
    }
}
