@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,300;1,400;1,500;1,600;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #aeb1fa;
  color: #3d3c3c;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.portal-profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #3d3c3c;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
  }
}
.header {
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fd2d01;
  border-bottom: 0.2rem solid #3d3c3c;
  width: 100%;
}
.header__img {
  padding: 1rem;
  width: 400px;
  height: auto;
}

.portal {
  margin: 3rem;
  padding-bottom: 2rem;
  border: 0.2rem solid #3d3c3c;
  border-radius: 1.2rem;
  background-color: #d9d9d9;
}
.portal__toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.portal__toggle--login {
  padding: 3rem;
  width: 100%;
  background-color: #dfb2fe;
  border-top: none;
  border-right: none;
  border-bottom: 0.2rem solid #3d3c3c;
  border-left: none;
  border-top-right-radius: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
}
.portal__toggle--signup {
  padding: 3rem;
  width: 100%;
  background-color: #dfb2fe;
  border-top: none;
  border-right: 0.2rem solid #3d3c3c;
  border-bottom: 0.2rem solid #3d3c3c;
  border-left: none;
  border-top-left-radius: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
}
.portal__toggle .purple {
  background-color: #ca7ffe;
  text-decoration: underline;
}
.portal__form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
}
.portal__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.portal__form-group label {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.portal__form .input {
  border: 0.15rem solid #3d3c3c;
  border-radius: 0.3rem;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}
.portal__form input.portal__enter-btn {
  align-self: center;
  padding: 1.2rem;
  width: 12rem;
  margin: 1.5rem 0 1rem 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: 3px solid #3d3c3c;
  border-radius: 3rem;
  background-color: #ca7ffe;
  scale: 1;
}
.portal__form input.portal__enter-btn:hover {
  scale: 1.05;
  transition: scale 200ms ease-in;
}
.portal__account-signup, .portal__account-login {
  padding: 0 3rem 1rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #3d3c3c;
  cursor: pointer;
  scale: 1;
}
.portal__account-signup:hover, .portal__account-login:hover {
  scale: 1.01;
  transition: scale 200ms ease-in;
}

.alert {
  align-self: flex-start;
  margin-top: 0.3rem;
  color: rgb(250, 98, 98);
  font-weight: 600;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .portal {
    width: 30rem;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
  padding: 3rem;
  background-color: #d9d9d9;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
}
.profile__img {
  width: 250px;
  height: auto;
  border: 0.3rem solid #3d3c3c;
  border-radius: 100%;
}
.profile__update-pic-btn {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.profile__update-pic-btn input[type=file]::file-selector-button {
  padding: 1rem;
  background-color: #ca7ffe;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.profile__update-pic-btn input[type=file]::file-selector-button:hover {
  background-color: #ca7ffe;
}
.profile__update-btn {
  background-color: #ca7ffe;
  padding: 0.5rem 1rem;
  margin: 1rem 0.25rem 0 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  scale: 1;
}
.profile__update-btn:hover {
  scale: 1.05;
  transition: scale 200ms ease-in;
}
.profile__deactivate-btn {
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0.25rem;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff876d;
  scale: 1;
}
.profile__deactivate-btn:hover {
  scale: 1.05;
  transition: scale 200ms ease-in;
}
.profile__form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
.profile__form-group label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.3rem;
}
.profile__form-group input {
  padding: 1rem 1rem 1rem 0.5rem;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  margin-top: 0.1rem;
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
}

.create-post__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 3rem 3rem 3rem;
  background-color: #aeb1fa;
  border-bottom: 0.2rem solid #3d3c3c;
}
.create-post__cont--profile-img {
  position: relative;
  top: 3rem;
  width: 120px;
  height: auto;
  border: 0.25rem solid #3d3c3c;
  border-radius: 100%;
  z-index: 1;
  margin: 0 auto;
  display: block;
}
.create-post__cont--post {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 8rem 3rem 5rem 3rem;
  border-top: 3px solid #3d3c3c;
  border-bottom: 3px solid #3d3c3c;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.create-post__cont--post-cont {
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
}
.create-post__cont--post-cont .create-post__cont--post-img {
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  width: 18rem;
  height: auto;
}
.create-post__cont--post-cont .create-post__cont--post-remove {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.create-post__cont--btns input[type=file]::file-selector-button {
  position: relative;
  margin-top: 21.5rem;
  padding: 1rem;
  background-color: #d9d9d9;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.create-post__cont--btns input[type=file]::file-selector-button:hover {
  background-color: #ca7ffe;
}
.create-post__cont--btns-post-btn {
  position: relative;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #ca7ffe;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  scale: 1;
}
.create-post__cont--btns-post-btn:hover {
  scale: 1.1;
  transition: scale 200ms ease-in;
}

@media screen and (min-width: 768px) {
  .create-post__cont {
    background-color: #e3e4fd;
    border-right: 0.2rem solid #3d3c3c;
    border-bottom: 0.2rem solid #3d3c3c;
    border-left: 0.2rem solid #3d3c3c;
    width: 800px;
    padding-top: 1rem;
  }
  .create-post__cont--post {
    border: 3px solid #3d3c3c;
    border-radius: 10px;
    right: revert;
    left: revert;
    width: fit-content;
  }
  .create-post__cont__cont {
    display: flex;
    background-color: #e3e4fd;
    border-right: 0.2rem solid #3d3c3c;
    border-bottom: 0.2rem solid #3d3c3c;
    border-left: 0.2rem solid #3d3c3c;
    width: 800px;
  }
  .create-post__cont__cont .create-post__cont--post-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .create-post__cont__cont .create-post__cont--post-cont .create-post__cont--post-img {
    width: 25rem;
  }
}
.settings__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #e3e4fd;
  border-bottom: 0.2rem solid #3d3c3c;
  font-weight: 700;
}
.settings__nav--icon {
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
.settings__nav--list {
  list-style-type: none;
}
.settings__nav--list-item {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem 0.5rem 1rem 0;
  width: fit-content;
  background-color: #ca7ffe;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  scale: 1;
}
.settings__nav--list-item:hover {
  scale: 1.1;
  transition: scale 200ms ease-in;
}

@media screen and (min-width: 768px) {
  .settings {
    width: 800px;
    border-right: 0.2rem solid #3d3c3c;
    border-left: 0.2rem solid #3d3c3c;
  }
  .settings__nav {
    background-color: #aeb1fa;
  }
}
.post__cont {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  border-top: 3px solid #3d3c3c;
  background-color: #e3e4fd;
}
.post__cont--status-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  border-top: 3px solid #3d3c3c;
  border-right: 3px solid #3d3c3c;
  border-left: 3px solid #3d3c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}
.post__cont--status-txt-img {
  margin: 2rem 1rem 0 1rem;
  width: 220px;
  height: auto;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
}
.post__cont--status-publisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.post__cont--status-publisher-img {
  width: 5rem;
  height: auto;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
}
.post__cont--status-publisher-name {
  font-weight: 700;
  font-size: 1.2rem;
}
.post__cont--status-edit-cont {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #dfb2fe;
  border: 3px solid #3d3c3c;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post__cont--status-edit-cont-mods {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}
.post__cont--status-edit-cont-mods--edit {
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e3e4fd;
  padding: 0.5rem;
}
.post__cont--status-edit-cont-mods--delete {
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff876d;
  padding: 0.5rem;
}
.post__cont--reactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}
.post__cont--reactions--like {
  scale: 1;
}
.post__cont--reactions--like:hover {
  scale: 1.1;
  transition: scale 200ms ease-in;
}

@media screen and (min-width: 768px) {
  .post__cont {
    width: 800px;
    border-right: 0.2rem solid #3d3c3c;
    border-left: 0.2rem solid #3d3c3c;
    background-color: #aeb1fa;
  }
  .post__cont--status {
    width: 80%;
  }
  .post__cont--status-txt-img {
    margin: 2rem 1rem 0 1rem;
    width: 280px;
  }
  .post__cont--status-publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
  }
  .post__cont--status-publisher-img {
    width: 5rem;
    height: auto;
    border: 3px solid #3d3c3c;
    border-radius: 10px;
  }
  .post__cont--status-publisher-name {
    font-weight: 700;
    font-size: 1.2rem;
  }
}
.create-comment__cont {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 3rem 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e3e4fd;
}
.create-comment__cont--img {
  width: auto;
  height: 50px;
  border: 0.2rem solid #3d3c3c;
  border-radius: 100%;
}
.create-comment__cont--comment {
  padding: 2rem;
  font-size: 1rem;
  margin: 1rem 1rem 0 1rem;
  background-color: #fff;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  line-height: 1.7rem;
  width: 90%;
}
.create-comment__cont--post-btn {
  padding: 1rem;
  margin: 1.5rem 0 0 0.5rem;
  background-color: #ca7ffe;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  scale: 1;
}
.create-comment__cont--post-btn:hover {
  scale: 1.1;
  transition: scale 200ms ease-in;
}

#toggle-comments {
  background-color: #e3e4fd;
  padding: 2rem 0 2rem 0;
  text-align: center;
  border-top: 3px solid #3d3c3c;
  border-bottom: 3px solid #3d3c3c;
}

.comment__cont {
  padding-bottom: 2rem;
}
.comment__cont--comment-card {
  margin: 1.5rem;
}
.comment__cont--comment-card-publisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
}
.comment__cont--comment-card-publisher-img {
  width: 50px;
  height: auto;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  border-radius: 100%;
}
.comment__cont--comment-card-publisher-name {
  font-size: 1.2rem;
}
.comment__cont--comment-card-comment {
  padding: 1rem;
  font-size: 1rem;
  background-color: #fff;
  border: 3px solid #3d3c3c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 1.7rem;
  text-align: left;
}
.comment__cont--comment-card--edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 0.5rem;
  border-right: 3px solid #3d3c3c;
  border-bottom: 3px solid #3d3c3c;
  border-left: 3px solid #3d3c3c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ca7ffe;
}
.comment__cont--comment-card--edit-edit-btn {
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e3e4fd;
  padding: 0.5rem;
}
.comment__cont--comment-card--edit-delete {
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff876d;
  padding: 0.5rem;
}

.edit-comment__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}
.edit-comment__cont--comment {
  padding: 1rem;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  width: 30rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.edit-comment__cont--post-btn {
  padding: 1rem;
  background-color: #ca7ffe;
  border: 3px solid #3d3c3c;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  scale: 1;
}
.edit-comment__cont--post-btn:hover {
  scale: 1.1;
  transition: scale 200ms ease-in;
}

@media screen and (min-width: 768px) {
  .create-comment__cont {
    flex-direction: row;
    padding-top: 2rem;
    border-top: 0.2rem solid #3d3c3c;
    border-right: 0.2rem solid #3d3c3c;
    border-left: 0.2rem solid #3d3c3c;
  }
  #toggle-comments {
    border: 0.2rem solid #3d3c3c;
  }
  .comment__cont--comment-card {
    margin: 2.2rem;
  }
  .comment__cont--comment-card-publisher {
    margin-bottom: 0.5rem;
  }
  .comment__cont--comment-card-comment {
    font-size: 1.2rem;
    padding: 1.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
