// This page contains Sass create-post styles

.create-post {
    &__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0 3rem 3rem 3rem;
        background-color: $colorBackground;
        border-bottom: 0.2rem solid $colorFont;

        &--profile-img {
            position: relative;
            top: 3rem;
            width: 120px;
            height: auto;
            border: 0.25rem solid $colorFont;
            border-radius: 100%;
            z-index: 1;
            margin: 0 auto;
            display: block;
        }

        &--post {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            padding: 8rem 3rem 5rem 3rem;
            border-top: 3px solid $colorFont;
            border-bottom: 3px solid $colorFont;
            font-size: 1.2rem;
            line-height: 2.2rem;

            &-cont {
                position: relative;
                top: 20rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.8rem;

                .create-post__cont--post-img {
                    @include borderStyle;
                    width: 18rem;
                    height: auto;
                }

                .create-post__cont--post-remove {
                    width: 4rem;
                    height: 4rem;
                    cursor: pointer;
                }
            }
        }

        &--btns {
            gap: 1rem;

            input[type='file']::file-selector-button {
                position: relative;
                margin-top: 21.5rem;
                padding: 1rem;
                background-color: $colorBox;
                @include borderStyle;
                @include btnTxtStyle;

                &:hover {
                    background-color: $colorSecondary;
                }
            }

            &-post-btn {
                position: relative;
                padding: 1rem;
                margin: 1.5rem 0 0 0.5rem;
                background-color: $colorSecondary;
                width: 5rem;
                @include borderStyle;
                @include btnTxtStyle;
                scale: 1;

                &:hover {
                    scale: 1.1;
                    transition: scale 200ms ease-in;
                }
            }
        }
    }
}

// Tablet and PC styling
@media screen and (min-width: 768px) {
    .create-post {
        &__cont {
            background-color: $colorBackgroundLight;
            border-right: 0.2rem solid $colorFont;
            border-bottom: 0.2rem solid $colorFont;
            border-left: 0.2rem solid $colorFont;
            width: 800px;
            padding-top: 1rem;

            &--post {
                @include borderStyle;
                right: revert;
                left: revert;
                width: fit-content;
            }

            &__cont {
                display: flex;
                background-color: $colorBackgroundLight;
                border-right: 0.2rem solid $colorFont;
                border-bottom: 0.2rem solid $colorFont;
                border-left: 0.2rem solid $colorFont;
                width: 800px;

                .create-post__cont--post-cont {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;

                    .create-post__cont--post-img {
                        width: 25rem;
                    }
                }
            }
        }
    }
}
